<div class="<%=type%> <%='my_chat' if current_user.id == post.user_id%>">
    <% if type=="chat1" %>
        <%= render_markdown(h post.content).html_safe %>
    <% else %>
        <%= render_markdown(post.content.sub('<script>', '<스크립트>').sub('</script>','</스크립트>').sub('<audio>','<오디오>').sub('</audio>','</오디오>').sub('<iframe>','<아이프레임>').sub('</iframe>','</아이프레임>')).html_safe %>
    <% end %>
    <p style="font-size: 0.5em"><%=post.name%>(<%=post.univ%>) - <%=post.created_at.localtime.strftime("%Y %B %e %p %I:%M:%S")%></p>
</div>
