<!DOCTYPE html>
<html>
<head>
  <title>SerengeTalk</title>
  <link rel="icon" type="image/png" href="/serengetalkicon.png" />
  <%# 아 용철님. 폰트 따오는거 까먹었어요. 나눔고딕, 노토 쓸 건데 어쩌죠. 도와줘요.. %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'home', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>
  
</body>
</html>